.centered {
  text-align: center;
  position: relative;
  top: 0vh;
  height: 50vh;
  width: 100vw;
  font-size: 1.2rem;
  // background-color: aqua;
  // border: black 2px solid;

  * {
    margin-bottom: 1vh;
    margin-top: 1vh;
  }

  p {
    font-size: 1.8rem;
  }

  button {
    background-color: #addef2;
    /* height: fit-content; */
    padding: 6% 8%;
    font-size: 1.3rem;
    border-radius: 20px;
    font-weight: 500;
    /* color: white; */
    margin-top: 15%;
  }
}

#menu-title {
  margin: 10% 0%;
  background-color: #addef2;
  height: 11%;
  width: 71vw;
  border-radius: 30px 0px 0px 30px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 10px 0px 0px 0px;
  min-height: 58px;
}


.hidden {
  animation: slide-bottom 2s forwards;
  // animation-delay: 1s;
  // animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
    // height: 50vh;
  }
  50% {
    height: 10vh;
  }
  100% {
    transform: translateY(100%);
    height: 10vh;
  }
}

