<div id="login-div" class="container" >
  <div class="centered">
    <div *ngIf="!trigger">
      <div id="menu-title" >ברוכים הבאים</div>
      <p>בכדי להמשיך לאתר יש להתחבר קודם לאתר ה- idf.</p>
      <div id="menu-title" (click)="continue()" style="border-radius: 0px 30px 30px 0px; position: absolute; left: 0;" >תכניסו אותי</div>
    </div>

    <div *ngIf="trigger">
      <div *ngIf="trigger === true">
        <div id="menu-title" >ברוכים הבאים</div>
        <p>בכדי להמשיך לאתר יש להתחבר קודם לאתר ה- idf.</p>
        <div id="menu-title" (click)="continue()" style="border-radius: 0px 30px 30px 0px; position: absolute; left: 0;" >תכניסו אותי</div>
      </div>

      <div *ngIf="trigger.message">
        <p>{{trigger.message}}</p>
      </div>
    </div>
  </div>
</div>
