<div id="turn-phone-container" *ngIf="activeMessage; else presentation">
  <h2>{{presentationPage.turnPhoneTitle}}</h2>
  <img id="turn-phone" src="../../assets/imgs/turnPhone.gif" alt="turn phone">
</div>

<ng-template #presentation>
  <!-- 
    There are 2 options:
    putting each iframe manually
    or solve the unsafe url problem
   -->

  <!-- <ng-container *ngFor="let presentation of presentations">
    <iframe class="screen" [src]="presentation.src" frameborder="0" *ngIf="presentation.machine === currentMachine"></iframe>
    <p>{{presentation.src}}</p>
    <p>{{sanitizeUrl(presentation.src)}}</p>
  </ng-container> -->

  <!-- <div id="iframe"> -->
    <iframe id="iframe" class="screen" width="476px" height="288px" frameborder="0"
    ></iframe>
  <!-- </div> -->
</ng-template>


