<!-- message of turning phone -->
<div class="screen" *ngIf="activeMessage; else presentation">

</div>

<ng-template #presentation>
  <!-- TTU -->
  <iframe class="screen" frameborder="0"
  src="https://onedrive.live.com/embed?resid=41F21928ABD61941%21944&amp;authkey=%21AK3RlJb_ZmIVfsY&amp;em=2&amp;wdAr=1.3333333333333333"></iframe>


  <!-- HPU -->
  <!-- <iframe class="screen" frameborder="0"
  src="https://onedrive.live.com/embed?resid=41F21928ABD61941%21944&amp;authkey=%21AK3RlJb_ZmIVfsY&amp;em=2&amp;wdAr=1.3333333333333333">
  זהו פריט מצגת מוטבע של <a target="_blank" href="https://office.com">Microsoft Office</a>, המופעל באמצעות <a target="_blank"
  href="https://office.com/webapps">Office</a>.</iframe> -->
</ng-template>


