<!-- loading bar -->
<div class="progress-container" *ngIf="!this.isLoaded">
  <div class="lds-ellipsis">
      <div *ngFor="let number of [].constructor(4)"></div>
  </div>
</div>

<!-- list -->
<div #list id="list" [class]="listState">
  <h1>{{modelPage.listTitle}}</h1>
  <p *ngFor="let item of partList | keyvalue" (click)="lookAtListObject(item.key)">-{{item.key}}</p>
</div>

<div id="zoom-container">
  <img class="zoom-buttons" [src]="modelPage.imgs.plus" alt="plus" (click)="zoom(0.1);">
  <img class="zoom-buttons" [src]="modelPage.imgs.minus" alt="minus" (click)="zoom(-0.1);">
  <img class="zoom-buttons" [src]="modelPage.imgs.list" alt="left-arrow" (click)="toggleList()">
</div>


<canvas id="view"></canvas>

<app-details [isVisible]="true" [details]="this.details"></app-details>
