<!-- loading bar -->
<div class="progress-container" *ngIf="!this.isLoaded">
  <div class="lds-ellipsis">
      <div *ngFor="let number of [].constructor(4)"></div>
  </div>
</div>

<!-- list -->
<div #list id="list" [class]="listState">
  <div id="search-container">
    <h1>{{modelPage.listTitle}}</h1>
    <h3>חיפוש</h3>
    <input id="search-box" type="text" placeholder="חפש חלק" [(ngModel)]="searchText">
  </div>

  <div id="parts">
    <span *ngFor="let item of parts | keyvalue">
      <p *ngIf="item.value.includes(searchText)" (click)="openListObject(item.key)">-{{item.value}}</p>
    </span>
    <div *ngIf="easterArr.includes(searchText)">
      ניחשתם את הסיסמה
      <button><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">לחצו עליי</a></button>
    </div>
  </div>

</div>

<div id="btn-container">
  <img class="btn-buttons" [src]="imgs['menu']" alt="menu" (click)="toggleList()">
  <img class="btn-buttons" [src]="imgs['reset']" alt="reset" (click)="resetView()">
</div>


<canvas id="view"></canvas>

<app-details [details]="this.details"></app-details>
