<!-- loading bar -->
<div class="progress-container" *ngIf="!this.isLoaded">
  <div class="lds-ellipsis">
      <div *ngFor="let number of [].constructor(4)"></div>
  </div>
</div>

<!-- list -->
<div #list id="list" [class]="listState">
  <h1>{{modelPage.listTitle}}</h1>
  <h3>חיפוש</h3>
  <input id="search-box" type="text" placeholder="חפש חלק" [(ngModel)]="searchText">
  <span *ngFor="let item of innerPartsList | keyvalue"><p *ngIf="item.value.includes(searchText)" (click)="openListObject(item.key, 'Inner')">-{{item.value}}</p></span>
  <span *ngFor="let item of outerPartsList | keyvalue"><p *ngIf="item.value.includes(searchText)" (click)="openListObject(item.key, '')">-{{item.value}}</p></span>
  <div *ngIf="easterArr.includes(searchText)">
    <ng-template>
      ניחשתם את הסיסמה
      <button><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">לחצו עליי</a></button>
    </ng-template>
  </div>
</div>

<div id="btn-container">
  <img class="btn-buttons" [src]="modelPage.imgs.list" alt="list" (click)="toggleList()">
  <img class="btn-buttons" [src]="modelPage.imgs.reset" alt="reset" (click)="resetView()">
</div>


<canvas id="view"></canvas>

<app-details [isVisible]="true" [details]="this.details"></app-details>
