<app-idf-login *ngIf="!user" (userLogged)="setUser($event)"></app-idf-login>
<div *ngIf="user" class="container" [style.backgroundImage]="'url(' + introPageInfo.backgroundImg + ')'">
    <div id="top-container" class="generic-animation" [class]="currentMachine === '' ? 'top-intro' : 'top-machine'" [ngClass]="turn + 'Top'">
        <div id="signs">
            <img [src]="introPageInfo.signs.airForce" alt="airforce" class="signs air-force">
            <img [src]="introPageInfo.signs.hupa" alt="hupa" class="signs hupa">
        </div>
        <div [class.opacityshake]="opacity">
            <ng-container *ngIf="currentMachine === ''; else machinePageTop" >
                <!-- <h5 id="title">{{introPageInfo.pageTitle}}</h5> -->
                <h5 id="title">{{introPageInfo.greeting}} {{user.name}}</h5>
            </ng-container>

            <ng-template #machinePageTop>
                <img id="go-back" [src]="introPageInfo.goBackArrow" alt="go back" (click)="changeMachine('')">
                <div id="nav-machine">
                    {{currentMachine}}
                    <div id="learning-modes-container">
                        <img class="nav-icons" *ngFor="let mode of learningModes;" [src]="'../assets/imgs/' + mode + ((mode === learningMode) ? 'Grey' : '') + '.png'" (click)="this.learningMode = mode">
                    </div>
                </div>
            </ng-template>
        </div>

    </div>

    <div id="bottom-container" class="generic-animation" [class]="currentMachine === '' ? 'bottom-intro' : 'bottom-machine'" [ngClass]="turn + 'Bottom'">
        <div [class.opacityshake]="opacity">
            <ng-container *ngIf="currentMachine === ''; else machinePageBottom">
                <div id="menu-title">{{introPageInfo.menuTitle}}</div>
                <div id="machines-container">
                    <div class="button" *ngFor="let machine of machines; let i = index;" (click)="changeMachine(machine)" [style]="'align-self: ' + (i % 2 === 0 ? 'end' : 'start') + ';'">
                        <img src="../assets/imgs/button.png" alt="button" [style]="i % 2 === 0 ? '' : 'transform: rotateY(180deg);'">
                        <h2 class="button-title">{{machine}}</h2>
                    </div>
                </div>
            </ng-container>
            <ng-template #machinePageBottom>
                <app-presentation [hidden]="learningMode === introPageInfo.learningModes[0]" [currentMachine]="currentMachine"></app-presentation>
                <app-model-viewing *ngIf="learningMode !== introPageInfo.learningModes[1]" [config]="config" [currentMachine]="currentMachine"></app-model-viewing>
            </ng-template>
        </div>
    </div>

    <div>
        גיא המושלם
        הוא הכי טוב בעולם
        אין לו שפם
        יש לו שיער
        הוא לא שר
        ואם כן זה רע
        טריליליטרה להלה

        ניצן היא ברת מזל
        לא עלתה שמירות כמו עומר חמל

    </div>
</div>
