#signs {
  .signs {
    position: absolute;
    top: 5%;
    height: 17%;
    max-height: 65px;
    min-height: 39px;
  }

  .air-force {
    right: var(--distanceFromEdges);
  }

  .hupa {
    left: var(--distanceFromEdges);
  }
}

.container {
  --light-blue: #dcf5ff;
  --top-machine: 26%;
  --top-intro: 37%;
  --bottom-machine: 74%;
  --bottom-intro: 63%;
  --distanceFromEdges: 4%;
  --animationTime: 1.5s; //needs to be like animationTime in ts file
  --opacityTime: 0.3s;

  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

//top containers
#top-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  background: inherit;
  animation-duration: var(--animationTime);
  animation-fill-mode: forwards;
  height: 10vh;
}

@keyframes IntroToMachineTop {
  from {
    height: var(--top-intro);
  }
  to {
    height: var(--top-machine);
  }
}

.top-machine {
  animation-name: IntroToMachineTop;

  #go-back {
    left: 7%;
    position: absolute;
    top: 29%;
    height: 43px;
  }

  #nav-machine {
    background-color: var(--light-blue);
    height: 19%;
    width: 72%;
    position: absolute;
    bottom: 15%;
    left: 9%;
    border-radius: 13px;
    min-height: 52px;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    min-width: 166px;
    padding-left: var(--distanceFromEdges);
    direction: ltr;

    #learning-modes-container {
      right: var(--distanceFromEdges);
      position: absolute;
      height: 100%;
      width: 32%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .nav-icons {
        min-height: 24px;
        height: 47%;
        margin-left: 11%;
      }
    }
  }
}

@keyframes MachineToIntroTop {
  from {
    height: var(--top-machine);
  }
  to {
    height: var(--top-intro);
  }
}

.top-intro {
  animation-name: MachineToIntroTop;

  #title {
    position: absolute;
    font-size: 2.5rem;
    top: 15vh;
    text-align: center;
    direction: rtl;
    color: white;
    width: 91vw;
    margin: auto;
    right: 0;
    left: 0;
  }
}


// bottom containers
#bottom-container {
  background-color:  var(--light-blue);
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: auto;
  border-radius: 22px 22px 0px 0px;
  animation-duration: var(--animationTime);
  animation-fill-mode: forwards;
}

@keyframes MachineToIntroBottom {
  from {
    height: var(--bottom-machine);
  }
  to {
    height: var(--bottom-intro);
  }
}

.bottom-intro {
  animation-name: MachineToIntroBottom;

  #menu-title {
    margin: 10% 0%;
    background-color: #addef2;
    height: 11%;
    width: 93%;
    border-radius: 30px 0px 0px 30px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px 0px 0px;
    min-height: 58px;
  }

  #machines-container {
    display: flex;
    align-items: center;
    height: 57%;
    flex-direction: column;

    .button {
      position: relative;
      margin: 5% 0%;
    }

    .right-button {
      transform: rotateY(180deg);
    }

    .button-title {
      width: 100%;
      position: absolute;
      top: 0;
      text-align: center;
      color: white;
    }
  }
}

@keyframes IntroToMachineBottom {
  from {
    height: var(--bottom-intro);
  }
  to {
    height: var(--bottom-machine);
  }
}

.bottom-machine {
  animation-name: IntroToMachineBottom;
}

.opacityshakeOut {
  animation: opacityshakeOut var(--opacityTime) 1 forwards;
}

@keyframes opacityshakeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.opacityshakeIn {
  animation: opacityshakeIn var(--opacityTime) 1 forwards;
}

@keyframes opacityshakeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

// .generic-animation {
//   animation-duration: 2s;
//   animation-fill-mode: forwards;
// }

// .MachineTop {
//   animation-name: MachineTop;
// }

// @keyframes MachineTop {
//   from {
//     height: var(--top-intro);
//   }
//   to {
//     height: var(--top-machine);
//   }
// }

// .IntroTop {
//   animation-name: IntroTop;
// }

// @keyframes IntroTop {
//   from {
//     height: var(--top-machine);
//   }
//   to {
//     height: var(--top-intro);
//   }
// }

// .IntroBottom {
//   animation-name: IntroBottom;
// }

// @keyframes IntroBottom {
//   from {
//     height: var(--bottom-machine);
//   }
//   to {
//     height: var(--bottom-intro);
//   }
// }

// .MachineBottom {
//   animation-name: MachineBottom;
// }

// @keyframes MachineBottom {
//   from {
//     height: var(--bottom-intro);
//   }
//   to {
//     height: var(--bottom-machine);
//   }
// }


