#signs {
  .signs {
    position: absolute;
    top: 5%;
    height: 17%;
    max-height: 65px;
    min-height: 39px;
  }

  .air-force {
    right: var(--distanceFromEdges);
  }

  .hupa {
    left: var(--distanceFromEdges);
  }
}

.animation {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

//top containers
#top-container {
  position: absolute;
  top: 0;
  width: 100%;
  /* background: inherit; */
  height: var(--top-intro);

  .title {
    position: absolute;
    font-size: 2.5rem;
    top: 15vh;
    text-align: center;
    direction: rtl;
    color: white;
    width: 78vw;
    margin: auto;
    right: 0;
    left: 0;
  }

  #go-back {
    left: 7%;
    position: absolute;
    top: 29%;
    height: 43px;
  }

  #nav-machine {
    background-color: var(--light-blue);
    height: 19%;
    width: 72%;
    position: absolute;
    bottom: 15%;
    left: 9%;
    border-radius: 13px;
    min-height: 52px;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    min-width: 166px;
    padding-left: var(--distanceFromEdges);
    direction: ltr;

    #learning-modes-container {
      right: var(--distanceFromEdges);
      position: absolute;
      height: 100%;
      width: 32%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .nav-icons {
        min-height: 24px;
        height: 47%;
        margin-left: 11%;
      }
    }
  }
}

// bottom containers
#bottom-container {
  background-color: var(--light-blue);
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: auto;
  height: 100vh;

  #bottom-content {
    display: none;
  }

  .menu-title {
    margin: 6% 0%;
    background-color: #addef2;
    height: 11%;
    width: 93%;
    border-radius: 30px 0px 0px 30px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px 0px 0px;
    min-height: 58px;
  }

  #machines-container {
    display: flex;
    align-items: center;
    height: 57%;
    flex-direction: column;

    .button {
      position: relative;
      margin: 5% 0%;
    }

    .right-button {
      transform: rotateY(180deg);
    }

    .button-title {
      width: 100%;
      position: absolute;
      top: 0;
      text-align: center;
      color: white;
    }
  }
}


// idf login
#idf-login {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100vw;
  font-size: 1.2rem;
  display: flex;
  background: linear-gradient(90deg, rgba(45,195,255,1) 0%, rgba(127,219,255,1) 37%, rgba(220,245,255,1) 100%);

  
  .continue-btn {
    align-self: flex-end !important;
  }

  .login {
    height: 29%;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .login-buttons {
      background-color: white;
      width: 70%;
      min-width: 310px;
      border-radius: 30px;
      font-size: 2rem;
      font-weight: 600;
      padding: 12px;
      box-sizing: border-box;
      max-width: 470px;
      align-self: flex-start;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                  0 1px 3px rgba(0, 0, 0, 0.08);
    }
  }

  * {
    margin-bottom: 1vh;
    margin-top: 1vh;
  }

  p {
    font-size: 1.8rem;
  }

  button {
    background-color: #addef2;
    /* height: fit-content; */
    padding: 6% 8%;
    font-size: 1.3rem;
    border-radius: 20px;
    font-weight: 500;
    /* color: white; */
    margin-top: 15%;
  }
}

.after-enter-disappear {
  animation-name: after-enter-disappear;
}

@keyframes after-enter-disappear {
  0% {}
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

.after-enter-bottom-animation {
  animation-name: after-enter-bottom-animation;
}

@keyframes after-enter-bottom-animation {
  0% {}
  100% {
    border-radius: 35px 35px 0px 0px;
    height: var(--bottom-intro);
  }
}

@media only screen and (orientation: portrait) {
  
  #idf-login {
    .login {
      width: 100%;
      .continue-btn {
        border-radius: 0px 30px 30px 0px !important;
      }
    
      .login-buttons {
        border-radius: 30px 0px 0px 30px;
      }
    }
  }
}
