<div class="container">
    <div id="top-container">
        <div id="signs">
            <img [src]="introPageInfo.signs.airForce" alt="airforce" class="signs air-force">
            <img [src]="introPageInfo.signs.hupa" alt="hupa" class="signs hupa">
        </div>

        <ng-container id="intro-top" class="animation" *ngIf="currentMachine === ''; else machinePageTop">
            <h5 *ngIf="user; else default" class="title">{{message}}, {{user.name}}</h5>
            <ng-template #default>
              <h5 id="greeting" class="title">{{message}}</h5>
            </ng-template>
        </ng-container>

        <ng-template id="machine-top" #machinePageTop>
            <img id="go-back" [src]="introPageInfo.goBackArrow" alt="go back" (click)="introMode()">
            <div id="nav-machine">
                {{currentMachine}}
                <div id="learning-modes-container">
                    <img alt="default" [alt]="mode" class="nav-icons" *ngFor="let mode of introPageInfo.learningModes;" [src]="'../assets/imgs/' + mode + ((mode === learningMode) ? 'Grey' : '') + '.png'" (click)="this.learningMode = mode">
                </div>
            </div>
        </ng-template>
    </div>

    <div id="bottom-container" class="animation adapt-container">
      <div id="bottom-content" class="adapt-landscape">
        <ng-container id="intro" *ngIf="currentMachine === ''; else machinePageBottom">
            <div class="menu-title">{{introPageInfo.menuTitle}}</div>
            <div id="machines-container">
                <div class="button" *ngFor="let machine of machines; let i = index;" (click)="machineMode(machine)" [style]="'align-self: ' + (i % 2 === 0 ? 'end' : 'start') + ';'">
                    <img src="../assets/imgs/button.png" alt="button" [style]="i % 2 === 0 ? '' : 'transform: rotateY(180deg);'">
                    <h2 class="button-title">{{machine}}</h2>
                </div>
            </div>
        </ng-container>

        <ng-template id="machine" #machinePageBottom>
            <app-presentation [hidden]="learningMode === introPageInfo.learningModes[0]" [currentMachine]="currentMachine"></app-presentation>
            <app-model-viewing *ngIf="learningMode !== introPageInfo.learningModes[1]" [config]="config" [currentMachine]="currentMachine"></app-model-viewing>
        </ng-template>
      </div>

      <div id="idf-login" class="centered animation">
        <div class="login" *ngIf="message === ''">
          <div class="menu-title" >ברוכים הבאים</div>
          <p>בכדי להמשיך לאתר יש להתחבר קודם לאתר ה- idf.</p>
          <div class="menu-title continue-btn" (click)="loginRedirect()">תכניסו אותי</div>
        </div>

        <div class="login" *ngIf="message !== ''">
          <div class="login-buttons" >התחברתם בהצלחה!</div>
          <p>בכדי להמשיך לאתר יש ללחוץ על הכפתור...</p>
          <div class="login-buttons continue-btn" (click)="continueToPage()">יאללה!</div>
        </div>
      </div>
    </div>
</div>
