.details-container {
    width: 78%;
    height: 26%;
    min-height: 100px;
    background-color: rgb(63 135 189);
    border-radius: 10px;
    border-style: none;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
}

.details {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-inline-start: 1rem;
    overflow-y: auto;
    width: 100%;

    img {
      max-height: 31px;
      width: fit-content;
    }
}

.explainedImg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}

.title {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.text {
margin: 0;
}

.close-button {
    width: min-content;
    height: min-content;

    font-size: 2rem;
    color: white;
    opacity: .75;

    cursor: pointer;

    padding: 0;
    margin: 0;
}

.close-button:hover {
    scale: 1.2;
}

button {
    border: 0;
    background: none;
}

@media (min-width: 640px) {
    .details-container {
        width: 640px;
        height: 160px;
    }

    .bottom {
        bottom: 50px;
    }

    .title {
        font-size: 1.5rem;
    }

    .text {
        margin-top: 8px;
    }
}
