<div *ngIf="!isClosed && (details.title !== '' && details.text !== '' || (details.title === '' && details.text === '' && !getIsVisited()))" class="details-container" dir="rtl" (mouseenter)="this.modelService.disableRaycasting = true" (mouseleave)="this.modelService.disableRaycasting = false">

  <div class="details" *ngIf="details.title !== '' && details.text !== ''">
    <h3 class="title">{{this.details.title}}</h3>
    <p class="text">{{this.details.text}}</p>
    <button class="close-button" (click)="isClosed = true; this.modelService.disableRaycasting = false"><i class="bi bi-x"></i></button>
  </div>

  <div class="details" *ngIf="details.title === '' && details.text === '' && !getIsVisited()">
    <div>
      <h3 class="title">{{this.modelPage.explanationTitle}}</h3>
      <p class="text">{{this.modelPage.explanationText}}</p>
      <div class="explainedImg" *ngFor="let explainedImg of modelPage.explanationImgs | keyvalue">
        <p class="text">{{explainedImg.value}}</p>
        <img [src]="imgs[explainedImg.key]" [alt]="explainedImg.key">
      </div>
    </div>
    <button class="close-button" (click)="endExplanation()"><i class="bi bi-x"></i></button>
  </div>

</div>
